package dayNN

import (
	_ "embed"
	"strconv"

	"github.com/sunilbpandey/advent-of-code/utils/go/strutils"
)

//go:embed input.txt
var content string

func Part1() string {
	// TODO: Implement
	strutils.ForEachLine(content, true, func(linenum int, line string) {
	})

	return strconv.Itoa(0)
}

func Part2() string {
	// TODO: Implement
	strutils.ForEachLine(content, true, func(linenum int, line string) {
	})

	return strconv.Itoa(0)
}
